*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --primary-color: #39CDCC;
    --secondary-color: #213F7D;
    --title-color: #021523;
    --text-color: #545F7D;
    --dark-red: #E4033B;
    --background-red: #e0577a;
    --dark-yellow: #E9B200;
    --background-yellow: #dfc46c;
    --dark-green: #39CD62;
    --background-green: #7adb96;
    --font-family: Arial, Helvetica, sans-serif;
}